{% extends 'Recipes/../base.html' %}
{% block content %}
{% load staticfiles %}
<section class="sample-text-area">
				<div class="container">
					<h3 class="text-heading">Les neuf diff&eacute;rents types de r&eacute;gime</h3>
					<p class="sample-text">
					<a class="posts-title" href="{% url 'regime1' %}"><h5><b>Le r&eacute;gime hyperprot&eacute;in&eacute; : </b></h5></a>
					C’est l’un des r&eacute;gimes les plus connus. En adoptant une alimentation importante en prot&eacute;ines, le r&eacute;gime hyperprot&eacute;in&eacute; permet de perdre rapidement des kilos tout en gardant sa masse musculaire. Afin de compenser le manque de graisse, on mange plus de prot&eacute;ines (viandes, œufs, poissons).</br></br>

					<a class="posts-title" href="{% url 'regime2' %}"><h5><b>Le r&eacute;gime prot&eacute;in&eacute; : </b></h5></a>
					Le r&eacute;gime prot&eacute;in&eacute; est un r&eacute;gime hypocalorique dont est le but est d’augmenter les apports quotidiens en prot&eacute;ines. Les prot&eacute;ines permettent une perte de poids rapide. Les repas sont soit compos&eacute; d’aliments riches en prot&eacute;ines, soit des substituts de repas prot&eacute;in&eacute;s, vendus en sachets.</br></br>

					<a class="posts-title" href="{% url 'regime3' %}"><h5><b>Le r&eacute;gime hypocalorique : </b></h5></a>
					Le r&eacute;gime hypocalorique permet d’abaisser les sucres et les matières grasses afin d´obliger son corps à puiser son &eacute;nergie dans ses r&eacute;serves de graisse. R&eacute;sultat ? Une perte de poids imm&eacute;diate. Etant très restrictif, il est recommand&eacute; de surveiller que le r&eacute;gime hypocalorique ne vous procure pas de carences en &eacute;l&eacute;ments nutritionnels.</br></br>

					<a class="posts-title" href="{% url 'regime4' %}"><h5><b>Le r&eacute;gime dissoci&eacute; : </b></h5></a>
					Les r&eacute;gimes dissoci&eacute;s, qui ne reposent sur aucun argument scientifique, autorisent de manger de tout (ou presque), mais pas au même moment. Aucun aliment n’est interdit, mais plusieurs aliments de nature diff&eacute;rente ne peuvent être consomm&eacute;s ensemble.</br></br>

					<a class="posts-title" href="{% url 'regime5' %}"><h5><b>Le r&eacute;gime v&eacute;g&eacute;tarien : </b></h5></a>
					Pour ceux qui veulent mixer hygiène de vie, convictions morales et poids de forme. Cependant, il est d&eacute;conseill&eacute; aux enfants et aux femmes enceintes en raison des carences qu'il pourrait provoquer. Il exclut les prot&eacute;ines d’origine animale.</br></br>

					<a class="posts-title" href="{% url 'regime6' %}"><h5><b>Le r&eacute;gime anticellulite : </b></h5></a>
					La cellulite touche aussi bien les minces que les rondes. Et les causes sont nombreuses : s&eacute;dentarit&eacute;, manque d’activit&eacute; ou alimentation d&eacute;s&eacute;quilibr&eacute;e. Le r&eacute;gime anti-cellulite convient à toutes celles qui veulent en finir avec la cellulite.</br></br>

					<a class="posts-title" href="{% url 'regime7' %}"><h5><b>Le r&eacute;gime sans sel : </b></h5></a>
					Le sel bouche les artères et notamment celles du cœur. Ce qui à long terme peut conduire à des ennuis de sant&eacute; tel que l’infarctus. Le chlorure de sodium, plus commun&eacute;ment appel&eacute; sel, retient l’eau dans l’organisme et les cellules. Avec le r&eacute;gime sans sel, on diminue la quantit&eacute; de sel dans le corps et par cons&eacute;quent la quantit&eacute; d’eau.</br></br>

					<a class="posts-title" href="{% url 'regime8' %}"><h5><b>Le r&eacute;gime hypoglucidique : </b></h5></a>
					Le r&eacute;gime Low Carb met à l’index tous les sucres. En effet, selon ce r&eacute;gime, seuls les glucides simples ou complexes font grossir. Le r&eacute;sultat imm&eacute;diat du Low Carb est une perte de poids (sous forme de graisse et d’eau), mais à moyen et long terme, les cons&eacute;quences sur la sant&eacute; peuvent être graves.</br></br>

					<a class="posts-title" href="{% url 'regime9' %}"><h5><b>Le r&eacute;gime d&eacute;tox : </b></h5></a>
					Après des excès ou simplement pour se sentir mieux, faire un r&eacute;gime d&eacute;tox permet en seulement quelques jours de se sentir plus en forme. Jus d&eacute;tox, soupes, tisanes, on chouchoute notre foie pour lui permettre d’&eacute;liminer les toxines de notre corps. On vous dit tout sur le r&eacute;gime d&eacute;tox, cette cure bien-être.</br></br>

					</p>
				</div>
			</section>

{% endblock %}