{% extends 'Recipes/../base.html' %}
{% block diets %}
{% load staticfiles %}
<section class="sample-text-area">
				<div class="container">
					<h3 class="text-heading">Le r&eacute;gime v&eacute;g&eacute;tarien</h3>
					<p class="sample-text">
						Pour ceux qui veulent mixer hygiène de vie, convictions morales et poids de forme. Cependant, il est d&eacute;conseill&eacute; aux enfants et aux femmes enceintes en raison des carences qu'il pourrait provoquer. Il exclut les prot&eacute;ines d’origine animale.<br/><br/>
						<b>Pour qui ? : </b>
						Tous ceux qui veulent mixer hygiène de vie, convictions morales et poids de forme. Cependant, le r&eacute;gime v&eacute;g&eacute;tarien est d&eacute;conseill&eacute; aux enfants et aux femmes enceintes en raison des carences qu'il pourrait provoquer.<br/><br/>
						<b>Notre avis : </b>
						Le r&eacute;gime v&eacute;g&eacute;tarien peut être un bon r&eacute;gime à condition que tous les aliments exclus soient remplac&eacute;s par d’autres aliments. Il est pr&eacute;f&eacute;rable d’&eacute;tablir un r&eacute;gime v&eacute;g&eacute;tarien avec l’aide d’un m&eacute;decin afin d’&eacute;viter les carences en prot&eacute;ines notamment.<br/><br/>
						<b>Programme di&eacute;t&eacute;tique et menu pour un r&eacute;gime v&eacute;g&eacute;tarien &eacute;quilibr&eacute; :</b><br/>
						<table class="t1" cellspacing="0" cellpadding="0">
							<tbody>
								<tr>
									<td class="td1" valign="middle">
									<p class="p5"><span class="s2"><strong>Petit d&eacute;jeuner&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</strong></span></p>
									</td>
									<td class="td2" valign="middle">
									<p class="p6"><span class="s2">Pain complet<br /> Margarine v&eacute;g&eacute;tale ou beurre&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<br /> Confiture<br /> Orange<br /> Lait<br /> Caf&eacute;</span></p>
									</td>
								</tr>
								<tr>
									<td class="td3" valign="middle">
									<p class="p5"><span class="s2"><strong>D&eacute;jeuner</strong></span></p>
									</td>
									<td class="td4" valign="middle">
									<p class="p6"><span class="s2">Concombres<br /> Curry de lentilles corail au lait de coco<br /> Riz basmati<br /> Fromage<br /> Banane</span></p>
									</td>
								</tr>
								<tr>
									<td class="td5" valign="middle">
									<p class="p5"><span class="s2"><strong>Collation</strong></span></p>
									</td>
									<td class="td6" valign="middle">
									<p class="p6"><span class="s2">Pomme<br /> Quelques amandes</span></p>
									</td>
								</tr>
								<tr>
									<td class="td7" valign="middle">
									<p class="p5"><span class="s2"><strong>D&icirc;ner</strong></span></p>
									</td>
									<td class="td8" valign="middle">
									<p class="p6"><span class="s2">1/2 avocat aux &eacute;pices<br /> Omelette aux pommes de terre<br /> Poivrons r&ocirc;tis<br /> Yaourt nature</span></p>
									</td>
								</tr>
							</tbody>
						</table>
					</p>
				</div>
			</section>

{% endblock %}