{% extends 'Recipes/../base.html' %}
{% block diets %}
{% load staticfiles %}
<p class="p1"><span class="s1" style="color: #ff0000;"><strong>Le r&eacute;gime sans sel&nbsp;:</strong></span></p>
<p class="p2"><span class="s2">Le sel bouche les art&egrave;res et notamment celles du c&oelig;ur. Ce qui &agrave; long terme peut conduire &agrave; des ennuis de sant&eacute; tel que l&rsquo;infarctus. Le chlorure de sodium, plus commun&eacute;ment appel&eacute; sel, retient l&rsquo;eau dans l&rsquo;organisme et les cellules. Avec le r&eacute;gime sans sel, on diminue la quantit&eacute; de sel dans le corps et par cons&eacute;quent la quantit&eacute; d&rsquo;eau.</span></p>
<p class="p3">&nbsp;</p>
<p class="p2"><span style="text-decoration: underline;"><span style="color: #ff0000;"><strong><span class="s2">Pour qui ?</span></strong></span></span></p>
<p class="p2"><span class="s2">Pour ceux et celles qui souhaitent contr&ocirc;ler leur apport en sel au cours des repas et &eacute;viter des maladies cardiovasculaires. Le r&eacute;gime sans sel est recommand&eacute; pour les personnes cardiaques, ayant des probl&egrave;mes r&eacute;naux ou encore trait&eacute;es par des cortico&iuml;des.</span></p>
<p class="p3">&nbsp;</p>
<p class="p2"><strong><span class="s2" style="color: #ff0000;">Notre avis</span></strong></p>
<p class="p2"><span class="s2">Ce r&eacute;gime est recommand&eacute; si vous &ecirc;tes cardiaque ou si vous avez des probl&egrave;mes r&eacute;naux. Tr&egrave;s contraignant, ce r&eacute;gime a toutefois de v&eacute;ritables vertus th&eacute;rapeutiques.</span></p>

{% endblock %}