{% extends 'Recipes/../base.html' %}
{% block content %}
{% load staticfiles %}
<section class="sample-text-area">
				<div class="container">
					<h3 class="text-heading">Le r&eacute;gime anticellulite</h3>
					<p class="sample-text">
						La cellulite touche aussi bien les minces que les rondes. Et les causes sont nombreuses : s&eacute;dentarit&eacute;, manque d’activit&eacute; ou alimentation d&eacute;s&eacute;quilibr&eacute;e. Le r&eacute;gime anti-cellulite convient à toutes celles qui veulent en finir avec la cellulite !<br/><br/>
						<b>Pour qui ? : </b>
						Toutes les femmes ! La cellulite touche aussi bien les minces que les rondes. Et les causes sont nombreuses : s&eacute;dentarit&eacute;, manque d’activit&eacute; ou alimentation d&eacute;s&eacute;quilibr&eacute;e. Le r&eacute;gime anti-cellulite convient à toutes celles qui veulent en finir avec la cellulite !<br/><br/>
						<b>Notre avis : </b>
						Le r&eacute;gime anti-cellulite est un r&eacute;gime qui peut être recommand&eacute; à toutes les femmes. Pour être efficace, il est n&eacute;cessaire de l’associer à une activit&eacute; physique très r&eacute;gulière.<br/><br/>
						<b>Programme et menu pour un r&eacute;gime anticellulite :</b><br/>
						Avec ce programme anti cellulite, adieu la r&eacute;tention d'eau qui vous cause des capitons ! On vous propose une journ&eacute;e type, à vous de confectionner les autres menus anti cellulite de votre semaine...<br/><br/>
						<table class="t1" cellspacing="0" cellpadding="0">
							<tbody>
								<tr>
									<td class="td1" valign="middle">
									<p class="p5"><span class="s2"><strong>Petit d&eacute;jeuner&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</strong></span></p>
									</td>
									<td class="td2" valign="middle">
									<p class="p6"><span class="s2">1 boisson sans lait, ni sucre (lait v&eacute;g&eacute;tal l&eacute;ger sans sucre ajout&eacute; autoris&eacute;)<br /> 1 bol de riz complet, sarrasin ou flocons d'avoine en porridge/ou 2 à 3 tranches de pain complet bio<br /> 1 compote de fruits, sans sucre ajout&eacute;<br /> 1 noisette de beurre frais /ou quelques noix<br /></span></p>
									</td>
								</tr>
								<tr>
									<td class="td3" valign="middle">
									<p class="p5"><span class="s2"><strong>D&eacute;jeuner</strong></span></p>
									</td>
									<td class="td4" valign="middle">
									<p class="p6"><span class="s2">1 assiette de crudit&eacute;s avec huile de colza et/ou olive vierge<br />1 viande ou poisson maigre<br />L&eacute;gumes à volont&eacute;<br /> L&eacute;gumineuses /ou riz complet (selon app&eacute;tit)<br /> 1 fruit cuit, entier ou en compote, sans sucre ajout&eacute;</span></p>
									</td>
								</tr>
								<tr>
									<td class="td5" valign="middle">
									<p class="p5"><span class="s2"><strong>Collation</strong></span></p>
									</td>
									<td class="td6" valign="middle">
									<p class="p6"><span class="s2">1 fruit frais<br />5 cerneaux de noix, amandes (non sal&eacute;es) ou 30 g de chocolat noir 80% de cacao minimum</span></p>
									</td>
								</tr>
								<tr>
									<td class="td7" valign="middle">
									<p class="p5"><span class="s2"><strong>D&icirc;ner</strong></span></p>
									</td>
									<td class="td8" valign="middle">
									<p class="p6"><span class="s2">1 portion de poisson gras ou viande blanche<br />1 l&eacute;gume vert en potage, cru ou cuit<br />1 verre de vin (facultatif)<br /> </span></p>
									</td>
								</tr>
							</tbody>
						</table>
					</p>
				</div>
			</section>
{% endblock %}