{% extends 'Recipes/../base.html' %}
{% block content %}
{% load staticfiles %}
    <section class="sample-text-area">
				<div class="container">
					<h3 class="text-heading">Le r&eacute;gime d&eacute;tox</h3>
					<p class="sample-text">
						Après des excès ou simplement pour se sentir mieux, faire un r&eacute;gime d&eacute;tox permet en seulement quelques jours de se sentir plus en forme. Jus d&eacute;tox, soupes, tisanes, on chouchoute notre foie pour lui permettre d’&eacute;liminer les toxines de notre corps. On vous dit tout sur le r&eacute;gime d&eacute;tox, cette cure bien-être.<br/><br/>
						Même s’il permet d’&eacute;liminer quelques kilos en trop, le r&eacute;gime d&eacute;tox a pour vocation première de purifier son organisme en &eacute;liminant les mini-toxines. Il existe plusieurs m&eacute;thodes de d&eacute;tox comme la monodiète, le jucing,  la raw food. Quelle que soit la cure choisie, on consomme majoritairement des fruits et de l&eacute;gumes sous forme de soupes, de jus et de salades. Une bonne hydratation est aussi capitale, il faut boire au moins deux litres d’eau par jour pour drainer. Alcool, sucres raffin&eacute;s et graisses satur&eacute;es sont quant à eux bannis des repas. A cela, on complète avec une activit&eacute; sportive douce, mais attention pas d’activit&eacute; intense comme le running, le tennis, la natation. Notre organisme &eacute;tant à la diète, on risque l’hypoglyc&eacute;mie. On pr&eacute;fère donc les sports de relaxation comme le yoga, le pilates ou la marche à pieds.<br/><br/>
						<span style="text-decoration: underline;"><strong>Les plus de ce r&eacute;gime :</strong></span><br/>
						Le r&eacute;gime d&eacute;tox procure un bien-être global ! On se sent plus en forme, plus l&eacute;gère. Les troubles de la digestion sont diminu&eacute;s, les problèmes de sommeil aussi. La peau est plus nette et lumineuse et les cheveux sont plus brillants.<br/><br/>
						<span style="text-decoration: underline;"><strong>Les moins de ce r&eacute;gime :</strong></span><br/>
						Les premiers jours du r&eacute;gime d&eacute;tox sont souvent difficiles avec une sensation de forte fatigue, voire de faiblesse surtout s’il est pratiqu&eacute; en parallèle d’une vie active. Et ce r&eacute;gime ne doit pas être prolong&eacute; plus de quelques jours (4-6 maximum). Mais attention, r&eacute;gime d&eacute;tox ne signifie pas jeûne. De façon à &eacute;viter les carences, notamment celles en prot&eacute;ines, il est conseill&eacute; de manger du poisson pendant sa cure, et aussi quelques ol&eacute;agineux. Dans tous les cas, il est toujours pr&eacute;f&eacute;rable d’avoir l’avis de son m&eacute;decin avant de commencer un r&eacute;gime d&eacute;tox.<br/><br/>

						<b>Pour qui ? : </b>
						Le r&eacute;gime d&eacute;tox convient à toutes celles qui veulent &eacute;liminer les toxines, mettre leur foie au repos, recharger les batteries et faire attention à leur ligne. Le r&eacute;gime d&eacute;tox est le bienvenu après les excès des fêtes, avec les changements de saison ou simplement quand on en ressent le besoin.<br/><br/>

						<b>Notre avis : </b>
						Après un repas charg&eacute; ou une mauvaise alimentation, le r&eacute;gime d&eacute;tox est excellent sur une courte dur&eacute;e, pour changer ses habitudes alimentaires et consommer plus de fruits et de l&eacute;gumes frais de saison. Mais ce r&eacute;gime ne peut pas être prolong&eacute; sur le long terme. R&eacute;sultat : on &eacute;limine les mini-toxines qui affectent tous les jours notre corps.<br/><br/>

						<b>Les aliments ou boissons à inclure à la journ&eacute;e « d&eacute;tox » sont g&eacute;n&eacute;ralement : </b>
						<ul class="unordered-list">
							<li>Th&eacute; vert</li>
							<li>Carotte</li>
							<li>Tomates</li>
							<li>C&eacute;leri</li>
							<li>Artichauts</li>
							<li>Betterave</li>
							<li>Agrumes : citron, orange, pamplemousse</li>
							<li>Fruits rouges : bleuets, mûres, fraises, framboises, cranberries</li>
							<li>Aliments riches en chlorophylle : asperge, pissenlit, avocat, kiwi, chou vert fris&eacute;, cresson, ciboulette, menthe, basilic, thym, persil, etc.</li>
						</ul><br/><br/>

						<b>Les aliments ou boissons à exclure à la journ&eacute;e « d&eacute;tox » sont g&eacute;n&eacute;ralement : </b>
						<ul class="unordered-list">
							<li>Sucres raffin&eacute;s</li>
							<li>Matières grasses</li>
							<li>Cigarette</li>
							<li>Alcool</li>
							<li>Caf&eacute;ine</li>
							<li>Produits animaux : viande rouges surtout et quelquefois les produits laitiers</li>
							<li>Aliments transform&eacute;s</li>
						</ul><br/>
						Les aliments interdits durant un r&eacute;gime d&eacute;tox sont ceux qui augmentent les toxines dans l'organisme et "encrassent" les organes. Cette liste est non exhaustive
					<br/><br/>
					</p>
				</div>
			</section>

{% endblock %}