{% extends 'Recipes/../base.html' %}
{% block content %}
{% load staticfiles %}
<section class="sample-text-area">
    <div class="container">
        <h3 class="text-heading">Le r&eacute;gime hypoglucidique</h3>
        <p class="sample-text">
            Le r&eacute;gime Low Carb met à l’index tous les sucres. En effet, selon ce r&eacute;gime, seuls les glucides simples ou complexes font grossir. Le r&eacute;sultat imm&eacute;diat du Low Carb est une perte de poids (sous forme de graisse et d’eau), mais à moyen et long terme, les cons&eacute;quences sur la sant&eacute; peuvent être graves.<br/><br/>
            <b>Pour qui ? : </b>
            Personne ! Ce r&eacute;gime sans glucides ou hypoglucidiques est dangereux pour la sant&eacute;.<br/><br/>
        </p>
    </div>
</section>
{% endblock %}