{% extends 'Recipes/../base.html' %}
{% block diets %}
{% load staticfiles %}
<section class="sample-text-area">
				<div class="container">
					<h3 class="text-heading">Le r&eacute;gime sans sel</h3>
					<p class="sample-text">
						Le sel bouche les artères et notamment celles du cœur. Ce qui à long terme peut conduire à des ennuis de sant&eacute; tel que l’infarctus. Le chlorure de sodium, plus commun&eacute;ment appel&eacute; sel, retient l’eau dans l’organisme et les cellules. Avec le r&eacute;gime sans sel, on diminue la quantit&eacute; de sel dans le corps et par cons&eacute;quent la quantit&eacute; d’eau.<br/><br/>
						<b>Pour qui ? : </b>
						Pour ceux et celles qui souhaitent contrôler leur apport en sel au cours des repas et &eacute;viter des maladies cardiovasculaires. Le r&eacute;gime sans sel est recommand&eacute; pour les personnes cardiaques, ayant des problèmes r&eacute;naux ou encore trait&eacute;es par des corticoïdes.<br/><br/>
						<b>Notre avis : </b>
						Ce r&eacute;gime est recommand&eacute; si vous êtes cardiaque ou si vous avez des problèmes r&eacute;naux. Très contraignant, ce r&eacute;gime a toutefois de v&eacute;ritables vertus th&eacute;rapeutiques.<br/><br/>
					</p>
				</div>
			</section>

{% endblock %}