{% extends 'Recipes/../base.html' %}
{% block diets %}
{% load staticfiles %}
<p class="p1"><span class="s1" style="color: #ff0000;"><strong>Le r&eacute;gime dissoci&eacute;&nbsp;:</strong></span></p>
<p class="p2"><span class="s2">Les r&eacute;gimes dissoci&eacute;s, qui ne reposent sur aucun argument scientifique, autorisent de manger de tout (ou presque), mais pas au m&ecirc;me moment. Aucun aliment n&rsquo;est interdit, mais plusieurs aliments de nature diff&eacute;rente ne peuvent &ecirc;tre consomm&eacute;s ensemble.</span></p>
<p class="p2"><span style="text-decoration: underline;"><strong><span class="s3" style="color: #ff0000; text-decoration: underline;">Pour qui ?</span></strong></span></p>
<p class="p2"><span class="s2">Id&eacute;al pour les hommes. Convient &agrave; ceux et celles qui ont une volont&eacute; de fer !</span></p>
<p class="p2"><span class="s2">Le r&eacute;gime dissoci&eacute; n&rsquo;est pas pour vous si vous n&rsquo;avez pas envie de r&eacute;fl&eacute;chir car il suppose de composer &agrave; l&rsquo;avance ses menus.</span></p>
<p class="p2"><strong><span style="text-decoration: underline;"><span class="s3" style="color: #ff0000; text-decoration: underline;">Notre avis</span></span></strong></p>
<p class="p2"><span class="s2">Si vous avez peu de kilos &agrave; perdre, vous pouvez faire un r&eacute;gime dissoci&eacute; sur une dur&eacute;e de quelques jours. Si vous souffrez de surpoids, il est conseill&eacute; de consulter un di&eacute;t&eacute;ticien.</span></p>
<p class="p2"><strong><span class="s2" style="color: #ff0000;">Les 10 r&egrave;gles d&rsquo;Or du R&eacute;gime Dissoci&eacute;</span></strong></p>
<ol class="ol1">
<li class="li2"><span class="s2">Respecter la digestion en laissant au moins 3 heures entre deux repas</span></li>
<li class="li2"><span class="s2">Ne pas consommer de produits laitiers apr&egrave;s les repas, sauf des yaourts bio, des infusions ou une tasse de caf&eacute;.</span></li>
<li class="li2"><span class="s2">Ne pas manger d&rsquo;hydrates de carbone ni de prot&eacute;ines de viandes apr&egrave;s 19h.</span></li>
<li class="li2"><span class="s2">Ne pas m&eacute;langer diff&eacute;rents go&ucirc;ts pour les glaces.</span></li>
<li class="li2"><span class="s2">Comme vous le savez, il ne faut pas manger d&rsquo;aliments incompatibles comme par exemple une recette de riz avec de la viande ; cependant, tous les bouillons sont permis on peut donc cuire le riz avec du bouillon de viande puis retirer la viande et manger le riz ; nous pouvons en plus rajouter quelques l&eacute;gumes pour qu&rsquo;il soit plus savoureux.</span></li>
<li class="li2"><span class="s2">La semoule de l&eacute;gumes est permise avec tous les aliments et peut &ecirc;tre incluse dans n&rsquo;importe quel repas.</span></li>
<li class="li2"><span class="s2">Les &eacute;pices sont compatibles avec tous les aliments mais en quantit&eacute; mod&eacute;r&eacute;e.</span></li>
<li class="li2"><span class="s2">Eviter les boissons gazeuses et les jus pendant les repas et le temps de digestion. Boire de l&rsquo;eau ou du vin.</span></li>
<li class="li2"><span class="s2">Boire un jus au citron et avec du miel tous les matins.</span></li>
<li class="li2"><span class="s2">L&rsquo;alcool n&rsquo;est pas recommand&eacute;.</span></li>
</ol>{% endblock %}