{% extends 'Recipes/../base.html' %}
{% block content %}
{% load staticfiles %}
<section class="sample-text-area">
				<div class="container">
					<h3 class="text-heading">Le r&eacute;gime dissoci&eacute;</h3>
					<p class="sample-text">
						Les r&eacute;gimes dissoci&eacute;s, qui ne reposent sur aucun argument scientifique, autorisent de manger de tout (ou presque), mais pas au même moment. Aucun aliment n’est interdit, mais plusieurs aliments de nature diff&eacute;rente ne peuvent être consomm&eacute;s ensemble.<br/><br/>
						<b>Pour qui ? : </b>
						Id&eacute;al pour les hommes. Convient à ceux et celles qui ont une volont&eacute; de fer !<br/>
						Le r&eacute;gime dissoci&eacute; n’est pas pour vous si vous n’avez pas envie de r&eacute;fl&eacute;chir car il suppose de composer à l’avance ses menus.<br/><br/>
						<b>Notre avis : </b>
						Si vous avez peu de kilos à perdre, vous pouvez faire un r&eacute;gime dissoci&eacute; sur une dur&eacute;e de quelques jours. Si vous souffrez de surpoids, il est conseill&eacute; de consulter un di&eacute;t&eacute;ticien.<br/><br/>
						<b>Les 10 règles d’or du r&eacute;gime dissoci&eacute; : </b><br/>
						<ul class="unordered-list">
							<li>Respecter la digestion en laissant au moins 3 heures entre deux repas.</li>
							<li>Ne pas consommer de produits laitiers après les repas, sauf des yaourts bio, des infusions ou une tasse de caf&eacute;.</li>
							<li>Ne pas manger d’hydrates de carbone ni de prot&eacute;ines de viandes après 19h.</li>
							<li>Ne pas m&eacute;langer diff&eacute;rents goûts pour les glaces.</li>
							<li>La semoule de l&eacute;gumes est permise avec tous les aliments et peut être incluse dans n’importe quel repas.</li>
							<li>Les &eacute;pices sont compatibles avec tous les aliments mais en quantit&eacute; mod&eacute;r&eacute;e.</li>
							<li>Eviter les boissons gazeuses et les jus pendant les repas et le temps de digestion. Boire de l’eau ou du vin.</li>
							<li>Boire un jus au citron et avec du miel tous les matins.</li>
							<li>L’alcool n’est pas recommand&eacute;.</li>
							<li>Comme vous le savez, il ne faut pas manger d’aliments incompatibles comme par exemple une recette de riz avec de la viande ; cependant, tous les bouillons sont permis on peut donc cuire le riz avec du bouillon de viande puis retirer la viande et manger le riz ; nous pouvons en plus rajouter quelques l&eacute;gumes pour qu’il soit plus savoureux.</li>
						</ul><br/>

					</p>
				</div>
			</section>
{% endblock %}