{% extends 'Recipes/../base.html' %}
{% block diets %}
{% load staticfiles %}
<p class="p1"><span class="s1" style="color: #ff0000;"><strong>Le r&eacute;gime anticellulite&nbsp;:</strong></span></p>
<p class="p2"><span class="s2">La cellulite touche aussi bien les minces que les rondes. Et les causes sont nombreuses : s&eacute;dentarit&eacute;, manque d&rsquo;activit&eacute; ou alimentation d&eacute;s&eacute;quilibr&eacute;e. Le r&eacute;gime anti-cellulite convient &agrave; toutes celles qui veulent en finir avec la cellulite !</span></p>
<p class="p2"><span class="s2"><strong><span style="text-decoration: underline; color: #ff0000;">Pour qui ?</span></strong><br /> Toutes les femmes ! La cellulite touche aussi bien les minces que les rondes. Et les causes sont nombreuses : s&eacute;dentarit&eacute;, manque d&rsquo;activit&eacute; ou alimentation d&eacute;s&eacute;quilibr&eacute;e. Le r&eacute;gime anti-cellulite convient &agrave; toutes celles qui veulent en finir avec la cellulite !</span></p>
<p class="p2"><span class="s2"><strong><span style="text-decoration: underline;"><span style="color: #ff0000; text-decoration: underline;">Notre avis</span></span></strong><br /> Le r&eacute;gime anti-cellulite est un r&eacute;gime qui peut &ecirc;tre recommand&eacute; &agrave; toutes les femmes. Pour &ecirc;tre efficace, il est n&eacute;cessaire de l&rsquo;associer &agrave; une activit&eacute; physique tr&egrave;s r&eacute;guli&egrave;re.</span></p>
<p class="p2"><span class="s2">Avec ce programme anti cellulite, adieu la r&eacute;tention d'eau qui vous cause des capitons ! On vous propose une journ&eacute;e type, &agrave; vous de confectionner les autres menus anti cellulite de votre semaine...</span></p>
<p class="p3">&nbsp;</p>
<p class="p2"><strong><span class="s2" style="color: #ff0000;">Petit-d&eacute;jeuner</span></strong></p>
<ul class="ul1">
<li class="li2"><span class="s2">1 boisson sans lait, ni sucre (lait v&eacute;g&eacute;tal l&eacute;ger sans sucre ajout&eacute; autoris&eacute;)</span></li>
<li class="li2"><span class="s2">1 bol de riz complet, sarrasin ou flocons d'avoine en porridge/ou 2 &agrave; 3 tranches de pain complet bio</span></li>
<li class="li2"><span class="s2">1 compote de fruits, sans sucre ajout&eacute;</span></li>
<li class="li2"><span class="s2">1 noisette de beurre frais /ou quelques noix</span></li>
</ul>
<p class="p3">&nbsp;</p>
<p class="p2"><strong><span class="s2" style="color: #ff0000;">D&eacute;jeuner</span></strong></p>
<ul class="ul1">
<li class="li2"><span class="s2">1 assiette de crudit&eacute;s avec huile de colza et/ou olive vierge</span></li>
<li class="li2"><span class="s2">1 viande ou poisson maigre</span></li>
<li class="li2"><span class="s2">L&eacute;gumes &agrave; volont&eacute;</span></li>
<li class="li2"><span class="s2">L&eacute;gumineuses /ou riz complet (selon app&eacute;tit)</span></li>
<li class="li2"><span class="s2">1 fruit cuit, entier ou en compote, sans sucre ajout&eacute;</span></li>
</ul>
<p class="p3">&nbsp;</p>
<p class="p2"><strong><span class="s2" style="color: #ff0000;">Collation</span></strong></p>
<ul class="ul1">
<li class="li2"><span class="s2">1 fruit frais</span></li>
<li class="li2"><span class="s2">5 cerneaux de noix, amandes (non sal&eacute;es) ou 30 g de chocolat noir 80% de cacao minimum</span></li>
</ul>
<p class="p3">&nbsp;</p>
<p class="p2"><strong><span class="s2" style="color: #ff0000;">D&icirc;ner</span></strong></p>
<ul class="ul1">
<li class="li2"><span class="s2">1 portion de poisson gras ou viande blanche</span></li>
<li class="li2"><span class="s2">1 l&eacute;gume vert en potage, cru ou cuit</span></li>
<li class="li2"><span class="s2">1 verre de vin (facultatif)</span></li>
</ul>
<p class="p1"><br /><br /></p>{% endblock %}