{% extends 'Recipes/../base.html' %}
{% block content %}
{% load staticfiles %}
<section class="sample-text-area">
				<div class="container">
					<h3 class="text-heading">Le r&eacute;gime prot&eacute;in&eacute;</h3>
					<p class="sample-text">
						Le r&eacute;gime prot&eacute;in&eacute; est un r&eacute;gime hypocalorique dont est le but est d’augmenter les apports quotidiens en prot&eacute;ines. Les prot&eacute;ines permettent une perte de poids rapide. Les repas sont soit compos&eacute; d’aliments riches en prot&eacute;ines, soit des substituts de repas prot&eacute;in&eacute;s, vendus en sachets.<br/><br/>
						<b>Pour qui ? : </b>
						Le r&eacute;gime prot&eacute;in&eacute; s'adresse aux plus motiv&eacute;es et aux personnes en surcharge pond&eacute;rale.<br/><br/>
						<b>Notre avis : </b>
						Le r&eacute;gime prot&eacute;in&eacute; est efficace mais peut être dangereux pour la sant&eacute;. C’est pour cela qu’il est pr&eacute;f&eacute;rable de faire ce r&eacute;gime avec l’aide d’un di&eacute;t&eacute;ticien ou un m&eacute;decin. Il doit être r&eacute;serv&eacute; aux personnes obèses ou en surcharge pond&eacute;rale.<br/><br/>
						<b>Caract&eacute;ristiques du r&eacute;gime prot&eacute;in&eacute; : </b><br/>
						<ul class="unordered-list">
							<li>Bas&eacute; sur la consommation à volont&eacute; de viande, d'oeufs et de poisson à chaque repas.</li>
							<li>Repr&eacute;sente un risque pour les systèmes r&eacute;nal et cardiovasculaire.</li>
							<li>Perte de poids spectaculaire mais souvent &eacute;ph&eacute;mère.</li>
							<li>Risque &eacute;lev&eacute; d'effets secondaires, de carences et de troubles du transit.</li>
							<li>Le r&eacute;gime prot&eacute;in&eacute; v&eacute;g&eacute;tarien semble être une variante plus int&eacute;ressant.</li>
						</ul><br/>
					</p>
				</div>
			</section>
{% endblock %}