{% extends 'Recipes/../base.html' %}
{% block diets %}
{% load staticfiles %}
<section class="sample-text-area">
				<div class="container">
					<h3 class="text-heading">Le r&eacute;gime hypocalorique</h3>
					<p class="sample-text">
						Le r&eacute;gime hypocalorique permet d’abaisser les sucres et les matières grasses afin d´obliger son corps à puiser son &eacute;nergie dans ses r&eacute;serves de graisse. R&eacute;sultat ? Une perte de poids imm&eacute;diate. Etant très restrictif, il est recommand&eacute; de surveiller que le r&eacute;gime hypocalorique ne vous procure pas de carences en &eacute;l&eacute;ments nutritionnels.<br/><br/>
						<b>Pour qui ? : </b>
						Le r&eacute;gime hypocalorique s'adresse plutôt aux disciplin&eacute;es et aux m&eacute;thodiques.<br/><br/>
						<b>Notre avis : </b>
						Le r&eacute;gime hypocalorique est efficace mais demande beaucoup de rigueur et de discipline. Si votre objectif est de perdre beaucoup de poids, l’avis d’un di&eacute;t&eacute;ticien ou d’un m&eacute;decin est pr&eacute;f&eacute;rable. Il ne doit pas durer dans le temps.<br/><br/>
					</p>
				</div>
			</section>

{% endblock %}