{% extends 'Recipes/../base.html' %}
{% block diets %}
{% load staticfiles %}
<p class="p1"><span class="s1" style="color: #ff0000;"><strong>Le r&eacute;gime V&eacute;g&eacute;tarien&nbsp;:</strong></span></p>
<p class="p2"><span class="s2">Pour ceux qui veulent mixer hygi&egrave;ne de vie, convictions morales et poids de forme. Cependant, il est d&eacute;conseill&eacute; aux enfants et aux femmes enceintes en raison des carences qu'il pourrait provoquer. Il exclut les prot&eacute;ines d&rsquo;origine animale.</span></p>
<p class="p2"><strong><span style="text-decoration: underline; color: #ff0000;"><span class="s3">Pour qui ?</span></span></strong></p>
<p class="p2"><span class="s2">Tous ceux qui veulent mixer hygi&egrave;ne de vie, convictions morales et poids de forme. Cependant, le r&eacute;gime v&eacute;g&eacute;tarien est d&eacute;conseill&eacute; aux enfants et aux femmes enceintes en raison des carences qu'il pourrait provoquer.</span></p>
<p class="p2"><strong><span class="s3" style="color: #ff0000;">Notre avis</span></strong></p>
<p class="p2"><span class="s2">Le r&eacute;gime v&eacute;g&eacute;tarien peut &ecirc;tre un bon r&eacute;gime &agrave; condition que tous les aliments exclus soient remplac&eacute;s par d&rsquo;autres aliments. Il est pr&eacute;f&eacute;rable d&rsquo;&eacute;tablir un r&eacute;gime v&eacute;g&eacute;tarien avec l&rsquo;aide d&rsquo;un m&eacute;decin afin d&rsquo;&eacute;viter les carences en prot&eacute;ines notamment.</span></p>
<p class="p3">&nbsp;</p>
<p class="p4"><span class="s2">Programme di&eacute;t&eacute;tique et menu pour un r&eacute;gime v&eacute;g&eacute;tarien &eacute;quilibr&eacute;</span></p>
<table class="t1" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="td1" valign="middle">
<p class="p5"><span class="s2"><strong>Petit d&eacute;jeuner&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</strong></span></p>
</td>
<td class="td2" valign="middle">
<p class="p6"><span class="s2">Pain complet<br /> Margarine v&eacute;g&eacute;tale ou beurre&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<br /> Confiture<br /> Orange<br /> Lait<br /> Caf&eacute;</span></p>
</td>
</tr>
<tr>
<td class="td3" valign="middle">
<p class="p5"><span class="s2"><strong>D&eacute;jeuner</strong></span></p>
</td>
<td class="td4" valign="middle">
<p class="p6"><span class="s2">Concombres<br /> Curry de lentilles corail au lait de coco<br /> Riz basmati<br /> Fromage<br /> Banane</span></p>
</td>
</tr>
<tr>
<td class="td5" valign="middle">
<p class="p5"><span class="s2"><strong>Collation</strong></span></p>
</td>
<td class="td6" valign="middle">
<p class="p6"><span class="s2">Pomme<br /> Quelques amandes</span></p>
</td>
</tr>
<tr>
<td class="td7" valign="middle">
<p class="p5"><span class="s2"><strong>D&icirc;ner</strong></span></p>
</td>
<td class="td8" valign="middle">
<p class="p6"><span class="s2">1/2 avocat aux &eacute;pices<br /> Omelette aux pommes de terre<br /> Poivrons r&ocirc;tis<br /> Yaourt nature</span></p>
</td>
</tr>
</tbody>
</table>
{% endblock %}