{% extends 'Recipes/../base.html' %}
{% block diets %}
{% load staticfiles %}
<section class="sample-text-area">
				<div class="container">
					<h3 class="text-heading">Le r&eacute;gime Hyperprot&eacute;in&eacute;</h3>
					<p class="sample-text">
						C’est l’un des r&eacute;gimes les plus connus. En adoptant une alimentation importante en prot&eacute;ines, le r&eacute;gime hyperprot&eacute;in&eacute; permet de perdre rapidement des kilos tout en gardant sa masse musculaire. Afin de compenser le manque de graisse, on mange plus de prot&eacute;ines (viandes, œufs, poissons).<br/><br/>
						<b>Pour qui ? : </b>
						Pour celles qui ont besoin d’être soutenues puisque le r&eacute;gime hyperprot&eacute;in&eacute; doit être suivi sous contrôle m&eacute;dical. Pour celles n’ayant pas plus de 5 kg à perdre. D&eacute;conseill&eacute; si vous ne supportez pas bien la frustration (pas de sucres, desserts ou alcool) et que vous aimez bien faire la fête.<br/><br/>
						<b>Caract&eacute;ristiques du r&eacute;gime hyperprot&eacute;in&eacute; : </b><br/>
						Nous devons consommer chaque jour des prot&eacute;ines, des lipides et des glucides car ces trois macronutriments ont un rôle important au sein de l’organisme et il ne faut pas les n&eacute;gliger.
						<ul class="unordered-list">
							<li>Les <b>prot&eacute;ines</b> sont la pièce constructrice la plus importante dans l’organisme. Celui-ci d&eacute;compose les prot&eacute;ines en acides amin&eacute;s et les utilise afin de construire des tissus et des cellules. Les prot&eacute;ines sont essentielles à la construction et au maintien de la musculature.</li>
							<li>Les <b>lipides</b> sont &eacute;galement utilis&eacute;es pour fabriquer des cellules. Elles protègent &eacute;galement les organes internes et isolent le corps contre le froid et la chaleur. Enfin, la graisse corporelle repr&eacute;sente la plus grande r&eacute;serve d’&eacute;nergie.</li>
							<li>Les <b>glucides</b> sont les plus rapides à fournir de l’&eacute;nergie à l’organisme. Le corps peut &eacute;galement obtenir de l’&eacute;nergie à partir de matières grasses et d’acides amin&eacute;s. Les glucides, en particulier le glucose, sont essentiels au système nerveux central (cerveau et moelle &eacute;pinière), aux globules rouges et à la zone m&eacute;dullosurr&eacute;nale. Le corps peut aussi fabriquer lui-même les quantit&eacute;s vitales de glucose dans le foie.</li>
							<li>La <b>r&eacute;partition des trois macronutriments</b> est essentielle à la r&eacute;ussite de votre r&eacute;gime, quelle que soit sa forme. Dans le cadre d’un r&eacute;gime hyper prot&eacute;in&eacute;, environ la moiti&eacute; de l’apport calorique quotidien doit provenir des prot&eacute;ines, 35 % proviennent des matières grasses et 15 % proviennent des glucides. Il faut cependant bien noter qu’un gramme de matière grasse correspond à 9 kcal alors qu’un gramme de prot&eacute;ines et un gramme de glucides correspondent quant à eux à 4 kcal.</li>
							<li>Le r&eacute;gime prot&eacute;in&eacute; v&eacute;g&eacute;tarien semble être une variante plus int&eacute;ressant.</li>
						</ul><br/>
					</p>
				</div>
			</section>

{% endblock %}