{% extends 'Recipes/../base.html' %}
{% block diets %}
{% load staticfiles %}
<p class="p1"><span class="s1" style="color: #ff0000;"><strong>Le r&eacute;gime hypocalorique&nbsp;:</strong></span></p>
<p class="p2"><span class="s2">Le r&eacute;gime hypocalorique permet d&rsquo;abaisser les sucres et les mati&egrave;res grasses afin d&acute;obliger son corps &agrave; puiser son &eacute;nergie dans ses r&eacute;serves de graisse. R&eacute;sultat ? Une perte de poids imm&eacute;diate. Etant tr&egrave;s restrictif, il est recommand&eacute; de surveiller que le r&eacute;gime hypocalorique ne vous procure pas de carences en &eacute;l&eacute;ments nutritionnels.</span></p>
<p class="p2"><span style="text-decoration: underline; color: #ff0000;"><span class="s3">Pour qui ?</span></span></p>
<p class="p2"><span class="s2">Le r&eacute;gime hypocalorique s'adresse plut&ocirc;t aux disciplin&eacute;es et aux m&eacute;thodiques.</span></p>
<p class="p2"><span style="text-decoration: underline;"><span class="s3" style="color: #ff0000; text-decoration: underline;">Notre avis</span></span></p>
<p class="p2"><span class="s2">Le r&eacute;gime hypocalorique est efficace mais demande beaucoup de rigueur et de discipline. Si votre objectif est de perdre beaucoup de poids, l&rsquo;avis d&rsquo;un di&eacute;t&eacute;ticien ou d&rsquo;un m&eacute;decin est pr&eacute;f&eacute;rable. Il ne doit pas durer dans le temps.</span></p>


{% endblock %}