{% extends 'Recipes/../base.html' %}
{% block diets %}
{% load staticfiles %}
<p class="p1"><span class="s1" style="color: #ff0000;"><strong>Le r&eacute;gime prot&eacute;in&eacute;&nbsp;:</strong></span></p>
<p class="p2"><span class="s2">Le r&eacute;gime prot&eacute;in&eacute; est un r&eacute;gime hypocalorique dont est le but est d&rsquo;augmenter les apports quotidiens en prot&eacute;ines. Les prot&eacute;ines permettent une perte de poids rapide. Les repas sont soit compos&eacute; d&rsquo;aliments riches en prot&eacute;ines, soit des substituts de repas prot&eacute;in&eacute;s, vendus en sachets.</span></p>
<p class="p2"><span style="text-decoration: underline; color: #ff0000;"><span class="s3">Pour qui ?</span></span></p>
<p class="p2"><span class="s2">Le r&eacute;gime prot&eacute;in&eacute; s'adresse aux plus motiv&eacute;es et aux personnes en surcharge pond&eacute;rale.</span></p>
<p class="p2"><span style="text-decoration: underline;"><span class="s3" style="color: #ff0000; text-decoration: underline;">Notre avis</span></span></p>
<p class="p2"><span class="s2">Le r&eacute;gime prot&eacute;in&eacute; est efficace mais peut &ecirc;tre dangereux pour la sant&eacute;. C&rsquo;est pour cela qu&rsquo;il est pr&eacute;f&eacute;rable de faire ce r&eacute;gime avec l&rsquo;aide d&rsquo;un di&eacute;t&eacute;ticien ou un m&eacute;decin. Il doit &ecirc;tre r&eacute;serv&eacute; aux personnes ob&egrave;ses ou en surcharge pond&eacute;rale.</span></p>
<p class="p3">&nbsp;</p>
<p class="p4"><strong><span class="s3" style="color: #ff0000;">Caract&eacute;ristiques du r&eacute;gime prot&eacute;in&eacute; :</span></strong></p>
<ul class="ul1">
<li class="li5"><span class="s5">Bas&eacute; sur la consommation &agrave; volont&eacute; de viande, d'oeufs et de poisson &agrave; chaque repas</span></li>
<li class="li5"><span class="s5">Repr&eacute;sente un risque pour les syst&egrave;mes r&eacute;nal et cardiovasculaire</span></li>
<li class="li5"><span class="s5">Perte de poids spectaculaire mais souvent &eacute;ph&eacute;m&egrave;re</span></li>
<li class="li5"><span class="s5">Risque &eacute;lev&eacute; d'effets secondaires, de carences et de troubles du transit</span></li>
<li class="li5"><span class="s5">Le r&eacute;gime prot&eacute;in&eacute; v&eacute;g&eacute;tarien semble &ecirc;tre une variante plus int&eacute;ressan</span></li>
</ul>{% endblock %}