{% extends 'Recipes/../base.html' %}
{% block diets %}
{% load staticfiles %}
<p class="p1"><span style="text-decoration: underline;"><strong><span class="s1" style="color: #ff0000; text-decoration: underline;">Le r&eacute;gime hypoglucidique&nbsp;:</span></strong></span></p>
<p class="p2"><span class="s2">Le r&eacute;gime Low Carb met &agrave; l&rsquo;index tous les sucres. En effet, selon ce r&eacute;gime, seuls les glucides simples ou complexes font grossir. Le r&eacute;sultat imm&eacute;diat du Low Carb est une perte de poids (sous forme de graisse et d&rsquo;eau), mais &agrave; moyen et long terme, les cons&eacute;quences sur la sant&eacute; peuvent &ecirc;tre graves.</span></p>
<p class="p3">&nbsp;</p>
<p class="p2"><strong><span class="s2" style="color: #ff0000;">Pour qui ?</span></strong></p>
<p class="p2"><span class="s2">Personne ! Ce r&eacute;gime sans glucides ou hypoglucidiques est dangereux pour la sant&eacute;.</span></p>{% endblock %}