{% extends 'base.html' %}
{% block content %}
<!-- Start About us Area -->
<section class="sample-text-area">
    <div class="container">
        <h3 class="text-heading">About us</h3>
        <p class="sample-text">
            Notre groupe se compose des quatre étudiantes suivantes : Ségolène Hebert, Sarah Kieffer, Rayhana Msadek, et Éléonore Wald. Nous sommes toutes des étudiantes en échange international pour un an à l'UQAC (Université du Québec à Chicoutimi) afin d'obtenir une maîtrise en informatique. Ce site web correspond à un projet que nous devons réaliser dans le cadre de notre cours de Web Sémantique (8INF911) qui nous est enseigné par le professeur Julien Maitre au sein de cette université.
        </p>
    </div>
</section>
<!-- End Sample Area -->
{% endblock %}