<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{% static 'Recipes/myCSS.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'Recipes/css/bootstrap.css' %}" />
<link rel="stylesheet" href="{% static 'Recipes/css/linearicons.css' %}">
<link rel="stylesheet" href="{% static 'Recipes/css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'Recipes/css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'Recipes/css/magnific-popup.css' %}">
<link rel="stylesheet" href="{% static 'Recipes/css/jquery-ui.css' %}">
<link rel="stylesheet" href="{% static 'Recipes/css/nice-select.css' %}">
<link rel="stylesheet" href="{% static 'Recipes/css/animate.min.css' %}">
<link rel="stylesheet" href="{% static 'Recipes/css/owl.carousel.css' %}">
<link rel="stylesheet" href="{% static 'Recipes/css/main.css' %}">