{% extends 'base.html' %}

{% block content %}
{% load staticfiles %}
    {% if latest_recipe_list %}
        <section class="review-area section-gap">
            <div class="container">
                <div class="row">
                    <div class="active-review-carusel">
                        {% for recipe in latest_recipe_list %}
                            <div class="single-review">
                            <h1><b>{{ recipe.recette_description }}</b></h1>
								<div class="feature-img">
                                <img class="img-fluid" style="height:300px;" src="{{ recipe.image }}" alt="Recipe image">
                            </div>
                            <a class="text-black" href="{% url 'detail' recipe.id %}"><p>Voir la recette</p></a>
							</div>
                        {% endfor %}
                   </div>
                </div>
            </div>
        </section>
                        {% else %}
                                   <p>Il n'y a pas de recettes disponibles</p>
                        {% endif %}

{% endblock %}