{% extends 'Recipes/../base.html' %}
{% block content %}
{% load staticfiles %}

    <!-- Start top-category-widget Area -->
    <section class="top-category-widget-area pt-90 pb-90 ">
				<div class="container">
					<div class="row">
						<div class="col-lg-4">
							<div class="single-cat-widget">
								<div class="content relative">
									<div class="overlay overlay-bg"></div>
								    <a href="#" target="_blank">
								      <div class="thumb">
								  	  </div>
								      <div class="content-details">
								      </div>
								    </a>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-cat-widget">
								<div class="content relative">
									<div class="overlay overlay-bg"></div>
								    <a href="#" target="_blank">
								      <div class="thumb">
								  	  </div>
								      <div class="content-details">
								      </div>
								    </a>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-cat-widget">
								<div class="content relative">
									<div class="overlay overlay-bg"></div>
								    <a href="#" target="_blank">
								      <div class="thumb">
								  	  </div>
								      <div class="content-details">
								      </div>
								    </a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
    <!-- End top-category-widget Area -->

    {% if latest_recipe_list %}
    <!-- Start post-content Area -->
    <section class="post-content-area">
        <div class="container">
            <div class="row">
                    {% for recipe in latest_recipe_list %}
                        <div class="col-lg-4 col-sm-6 portfolio-item">
                          <div class="card h-100">
                            <a href="#"><img class="card-img-top" style="width: 350px;height: 350px;background-position: center center;background-repeat: no-repeat;" src="{{ recipe.image }}" alt="Recette"></a>
                            <div class="card-body">
                              <h4 class="card-title">
                                <a href="{% url 'detail' recipe.id %}">{{ recipe.recette_description }}</a>
                              </h4>
                             </div>
                          </div>
                        </div>

                       {% endfor %}
            </div>
        </div>
    </section>
    <!-- End post-content Area -->
    {% else %}
        <p>No recipe available.</p>
    {% endif %}

{% endblock %}