{% extends 'Recipes/../base.html' %}
{% block content %}
{% load staticfiles %}

    <!-- Start top-category-widget Area -->
    <section class="top-category-widget-area pt-90 pb-90 ">
				<div class="container">
					<div class="row">
						<div class="col-lg-4">
							<div class="single-cat-widget">
								<div class="content relative">
									<div class="overlay overlay-bg"></div>
								    <a href="#" target="_blank">
								      <div class="thumb">
								  	  </div>
								      <div class="content-details">
								      </div>
								    </a>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-cat-widget">
								<div class="content relative">
									<div class="overlay overlay-bg"></div>
								    <a href="#" target="_blank">
								      <div class="thumb">
								  	  </div>
								      <div class="content-details">
								      </div>
								    </a>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-cat-widget">
								<div class="content relative">
									<div class="overlay overlay-bg"></div>
								    <a href="#" target="_blank">
								      <div class="thumb">
								  	  </div>
								      <div class="content-details">
								      </div>
								    </a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
    <!-- End top-category-widget Area -->

    {% if latest_recipe_list %}
    <!-- Start post-content Area -->
    <section class="post-content-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 posts-list align-content-center">
                    {% for recipe in latest_recipe_list %}
                    <!-- Une recette -->
                    <div class="single-post row ">
                        <div class="col-lg-3  col-md-3 meta-details">
                            <div class="user-details row">
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 ">
                            <div class="feature-img">
                                <img class="img-fluid" style="width:200px;" src="{{ recipe.image }}" alt="Recipe image">
                            </div>
                            <a class="posts-title" href="{% url 'detail' recipe.id %}"><h3>{{ recipe.recette_description }}</h3></a>
                            <p class="excert">
                                <h4>Nombre de parts :</h4>
                            {{ recipe.nombre_part }}
                                <h4>Nombre de calories :</h4>
                            {{ recipe.nbCalories }}
                                <h4>Ingrédients :</h4>
                                <ul class="unordered-list">
                                    <li>250g de farine</li>
                                    <li>125g de cassonade</li>
                                    <li>125g de beurre</li>
                                </ul><br/>
                                <h4>Préparation</h4>
                            <p>{{ recipe.recette_instructions }}</p>
                            </p>
                        </div>
                    </div>
                    <!-- Fin recette -->
                       {% endfor %}

                    <!-- Pagination-->
                    <nav class="blog-pagination justify-content-center d-flex">
                        <ul class="pagination">
                            <li class="page-item">
                                <a href="#" class="page-link" aria-label="Previous">
                                    <span aria-hidden="true">
                                        <span class="lnr lnr-chevron-left"></span>
                                    </span>
                                </a>
                            </li>
                            <li class="page-item active"><a href="#" class="page-link">01</a></li>
                            <li class="page-item"><a href="cookbook_deux.html" class="page-link">02</a></li>
                            <li class="page-item"><a href="cookbook_trois.html" class="page-link">03</a></li>

                            <li class="page-item">
                                <a href="#" class="page-link" aria-label="Next">
                                    <span aria-hidden="true">
                                        <span class="lnr lnr-chevron-right"></span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>
        </div>
    </section>
    <!-- End post-content Area -->
    {% else %}
        <p>No recipe available.</p>
    {% endif %}

{% endblock %}