{% extends 'Recipes/../base.html' %}
{% block content %}
{% load staticfiles %}

<!-- Start menu-area Area -->
<section class="menu-area section-gap" id="menu">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-10 col-lg-6">
                <div class="title text-center">
                    <h1 class="mb-10">{{recipe.recette_description}}</h1>
                </div>
            </div>
        </div>
        <div class="container" style="align-content: center">
            <div class="feature-img" >
                <img class="img-fluid" src="{{ recipe.image }}" alt="Recipe image">
            </div>
        </div>
        <div class="section-top-border">
            <div class="progress-table-wrap">
                <div class="progress-table">
                    <div class="table-head">
                        <div class="serial">Apports</div>
                        <div class="visit">Par portion</div>
                        <div class="percentage">Pourcentage par portion</div>
                    </div>
                    <div class="table-row">
                        <div class="serial">Calories</div>
                        <div class="visit">{{energy}}kcal</div>
                        <div class="percentage">
                            <div class="progress">
                                <div class="progress-bar color-1" role="progressbar" style="width: {{pEnergy}}%" aria-valuenow={{pEnergy}} aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="visit">{{pEnergy}}%</div>
                    </div>
                    <div class="table-row">
                        <div class="serial">Protéines</div>
                        <div class="visit">{{proteins}}g</div>
                        <div class="percentage">
                            <div class="progress">
                                <div class="progress-bar color-1" role="progressbar" style="width: {{pProteins}}%" aria-valuenow={{pProteins}} aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="visit">{{pProteins}}%</div>
                    </div>
                    <div class="table-row">
                        <div class="serial">Glucides</div>
                        <div class="visit">{{carbohydrates}}g</div>
                        <div class="percentage">
                            <div class="progress">
                                <div class="progress-bar color-1" role="progressbar" style="width: {{pCarbohydrates}}%" aria-valuenow={{pCarbohydrates}} aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="visit">{{pCarbohydrates}}%</div>
                    </div>
                    <div class="table-row">
                        <div class="serial">Sucre</div>
                        <div class="visit">{{sugars}}g</div>
                        <div class="percentage">
                            <div class="progress">
                                <div class="progress-bar color-1" role="progressbar" style="width: {{pSugars}}%" aria-valuenow={{pSugars}} aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="visit">{{pSugars}}%</div>
                    </div>
                    <div class="table-row">
                        <div class="serial">Matière grasse</div>
                        <div class="visit">{{fat}}g</div>
                        <div class="percentage">
                            <div class="progress">
                                <div class="progress-bar color-1" role="progressbar" style="width: {{pFat}}%" aria-valuenow={{pFat}} aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="visit">{{pFat}}%</div>
                    </div>
                    <div class="table-row">
                        <div class="serial">Fibre</div>
                        <div class="visit">{{fiber}}g</div>
                        <div class="percentage">
                            <div class="progress">
                                <div class="progress-bar color-1" role="progressbar" style="width: {{pFiber}}%" aria-valuenow={{pFiber}} aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="visit">{{pFiber}}%</div>
                    </div>
                    <div class="table-row">
                        <div class="serial">Sel</div>
                        <div class="visit">{{sodium}}g</div>
                        <div class="percentage">
                            <div class="progress">
                                <div class="progress-bar color-1" role="progressbar" style="width: {{pSodium}}%" aria-valuenow={{pSodium}} aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="visit">{{pSodium}}%</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h3 class="text-heading">Liste des ingrédients</h3>
            <p class="sample-text">
                    <ul class="unordered-list">
                        {% for ingredient in recipe.ingredient_set.all %}
                        <li>{{ ingredient.quantity }}g de <a href="{% url 'productdetail' ingredient %}">{{ ingredient.id_ingredient.product_name }}</a></li>
                        {% endfor %}
                    </ul>
            </p>
        </div>
    <div class="container">
            <h3 class="text-heading">Préparation</h3>
            <p class="sample-text">{{ recipe.recette_instructions }}
            </p>
        </div>

    </div>
</section>
<!-- End menu-area Area -->
{% endblock %}