{% extends 'base.html' %}
{% block content %}

<!-- Start menu-area Area -->
<section class="menu-area section-gap" id="menu">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Cherchez les aliments qui composent votre recette</h1>
                </div>
            </div>
        </div>

        <!--<form action="#">
            <div class="section-top-border">
                <div class="row">
                    <div class="col-lg-8 col-md-8 pb-20">
                            <div class="mt-10">
                                <input type="text" name="carotte" placeholder="Carotte" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Carotte'" required class="single-input">
                            </div>
                    </div>
                <div class="col-lg-7 pb-20">
                    <div class="alert-msg" style="text-align: center;"></div>
                    <button class="genric-btn primary" style="float: center;">Rechercher</button>
                </div>
            </div>
        </form>-->
        <form method='POST' action=''>{%csrf_token %}
            <input type="text" name="searchName" placeholder="chocolat, carotte..." required >
            <input class="genric-btn primary" type ='submit' placeholder="Chercher">
        </form>
        {% if research and research is not ''%}
            <h2>Résultats pour '{{research}}'</h2>
        {%endif%}

        {% if results %}
            {%for product in results%}
                <div class="section-top-border">
                    <a class="posts-title" href="{% url 'productdetail' product.id %}"><h3>{{ product.product_name }}</h3></a>
                    <div class="row">
                        <div class="col-md-9 mt-sm-20 left-align-p">
                            <p>{{product.ingredients_text}}</p>
                        </div>
                    </div>
                </div>
            {%endfor%}
        {%endif%}
    </div>


</section>
<!-- End menu-area Area -->
{% endblock %}